<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件</title>
    <style>
        .alert-comp{
            /*display: none;*/
            position: fixed;
            top:50%;
            left:50%;
            margin-left:-150px;
            margin-top:-150px;
            width:300px;
            height:300px;
            border:#ff9da4 solid 1px;
            border-radius: 3px;
            text-align: center;
            line-height: 300px;
        }
    </style>
</head>
<body>
<!-- 子组件模板 -->
<template id="child-template">
    <div class="alert-comp" v-if="ok">Messages: {{ messages | json }}</div>
</template>

<!-- 父组件模板 -->
<div id="events-example">
    <child></child>
    <input v-model="msg">
    <button v-on:click="alertComp">Dispatch Event</button>
</div>

<script src="../lib/vue.min.js"></script>
<script>
    Vue.component('child', {
        template: '#child-template',
        data: function(){// 在组件中只能为函数
            return {messages: []}
        },
        computed: {
            ok: function () {
                return this.messages.length
            }
        },
        events: {
            'child-msg': function (msg) {
                this.messages.push(msg)
            }
        }
    });

    var parent = new Vue({
        el: '#events-example',
        data:{msg:'world'},
        methods: {
            alertComp: function () {
                if (this.msg.trim()) {
                    this.$broadcast('child-msg', this.msg);
                    this.msg = '';
                }
            }
        }
    })
</script>
</body>
</html>